.bubble {
    min-width: 200px;
    border-radius: 10px;
    background-color: #065FD4;
    position: absolute;
    z-index: 999;
    /* margin-top: 40px; */
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.bubble-heading {
    font-family: 'Open Sans SemiBold', Arial, Helvetica, sans-serif;
    padding: 15px 15px 0 15px;
    color: white;
    text-emphasis: none;
    font-weight: 400;
    font-size: 17px;
    margin: 0;
}

.bubble-text {
    font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
    padding: 15px 15px 15px 15px;
    margin: 0;
    color: white;
    font-weight: 200;
    font-size: 14px;
}

.bubble-pointer {
    transform: translateX(11px) rotate(135deg);
    background-color: #065FD4;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 8px solid;
    border-color: transparent transparent #065FD4 #065FD4;
    transform-origin: 0 0;
    box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.4);
    top: 0;
    left: 40px;
}

.bubble-pointer.bottom {
    box-shadow: 3px 0px 2px -2px rgba(0, 0, 0, 0.4);
}

.bubble-button {
    --mdc-theme-primary: white;
    height: 24px;
    min-width: 0px;
    float: right;
    margin-left: 10px;
}

.bubble-actions {
    padding: 0 15px 15px 15px;
    min-height: 24px;
    height: max-content;
}
